* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: min(8.5vw, 35px);
}

h1,
h2,
h3, a, p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    font-size: min(6.5vw, 28px);
}

h2 {
    font-size: min(6.5vw, 18px);
}

p, a {
    font-size: min(4.5vw, 22px);
}

li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */