footer {
    width: 100%;
    background-color: #3d322c;
}

.footer-container {
    margin: 0 25px;
}

.footer {
    position: sticky;
    width: fit-content;
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 10px 0;
    color: white;
    bottom: 0;
    left: 0;
}