#habilidades {
    padding-bottom: 150px;
    max-height: 50rem;
    background-color: #3d322c;
    overflow: hidden;
    position: relative;
}

#gradiente {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(to bottom, rgba(61, 50, 44, 0), #3d322c);
}

.skill-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    margin: 0 25px;
    padding: 25px 0;
}

.skill-img img {
    width: 85px;
}

.skill-content:nth-child(2) .skill-img img {
    width: 150px;
}

.skill-content:nth-child(4) .skill-img img {
    width: 120px;
}


.skill-text p {
    padding-right: 45px;
    color: white;
    text-align: justify;
}

.skill-text h3 {
    padding-bottom: 10px;
    font-size: min(5.5vw, 28px);
    text-decoration: underline;
    color: white;
}

.habilidades-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habilidades-content h1 {
    margin: 55px 0;
    color: white;
}

.skill-img {
    display: flex;
    min-width: 150px;
    align-items: center;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: center;
}

.button button {
    position: absolute;
    bottom: 50px;
    cursor: pointer;
}

#botao-habilidades {
    padding: 0.8rem;
    background-color: #654534;
    font-size: min(3.5vw, 20px);
    border: none;
    color: white;
    border-radius: 15px;

}

@media (min-width: 550px) and (max-width: 929px) {

    .skill-img {
        display: none;
    }

    .skill-text p {
        padding: 0;
    }
}

@media (min-width: 320px) and (max-width: 549px) {

    .skill-img {
        display: none;
    }

    .skill-text p {
        padding: 0;
    }
}

@media (max-width: 319px) {

    .skill-img {
        display: none;
    }

    .skill-text p {
        padding: 0;
    }
}