#projetos {
    /* min-height: 25vh; */
    background-color: rgb(0, 12, 24);
    padding-bottom: 50px;
}

.projetos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projetos-container h1 {
    margin: 25px 0;
    color: white;
}

.projeto h3 {
    text-decoration: underline;
}

.projeto h3, .projeto p {
    color: white;
    text-align: justify;
    margin-bottom: 10px;
}

.projeto a {
    color: rgb(171, 171, 240);
}

.projetos-content {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: start;
    width: 85vw;
}

@media (min-width: 930px) and (max-width: 1050px) {

    .grid {
        grid-template-columns: repeat(2, 0.1fr);
    }
}

@media (min-width: 550px) and (max-width: 929px) {

    .grid {
        grid-template-columns: repeat(2, 0.1fr);
    }
}

@media (min-width: 320px) and (max-width: 549px) {

    .grid {
        grid-template-columns: repeat(2, 0.1fr);
    }
}

@media (max-width: 319px) {

    .grid {
        grid-template-columns: repeat(2, 0.1fr);
    }
}