#projetos {
    min-height: 45vh;
    background-color: #654534;
    padding-bottom: 50px;
}

.projetos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projetos-container h1 {
    margin: 35px 0;
    color: white;
}

.projeto-content {
    width: min(40vw, 200px);
    height: min(40vw, 200px);
    background-color: #3d322c;
    border-radius: 25px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 0.1fr);
    gap: 30px;
    justify-content: center;
}

.projeto-content img {
    width: min(40vw, 200px);
    height: min(40vw, 200px);
    border-radius: 25px;
}

.projeto-content:hover {
    box-shadow: 1px 1px 10px 5px rgba(255, 255, 255, 0.3);
}

@media (min-width: 930px) and (max-width: 1050px) {

    .grid {
        grid-template-columns: repeat(2, 0.1fr);
    }
}

@media (min-width: 550px) and (max-width: 929px) {

    .grid {
        grid-template-columns: repeat(2, 0.1fr);
    }
}

@media (min-width: 320px) and (max-width: 549px) {

    .grid {
        grid-template-columns: repeat(2, 0.1fr);
    }
}

@media (max-width: 319px) {

    .grid {
        grid-template-columns: repeat(2, 0.1fr);
    }
}