#projetos {
    min-height: 45vh;
    background-color: #654534;
    padding-bottom: 50px;
}

.projetos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projetos-container h1 {
    margin: 35px 0;
    color: white;
}

.projeto-content {
    width: min(40vw, 200px);
    height: min(40vw, 200px);
    background-color: #3d322c;
    border-radius: 25px;
}

.grid :nth-child(1) {
    background-image: url(../imgs/ytdl-max.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    zoom: 1;
    transition: all 300ms ease-in-out;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 0.1fr);
    gap: 30px;
    justify-content: center;
}

footer {
    width: 100%;
    background-color: #3d322c;
}

.footer-container {
    margin: 0 25px;
}

.footer {
    position: sticky;
    width: fit-content;
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 10px 0;
    color: white;
    bottom: 0;
    left: 0;
}

.footer-img {
    display: flex;
}

.footer-img img {
    margin-left: 15px;
    width: min(10vw, 55px);
    height: min(10vw, 55px);
    background-color: white;
    border-radius: 50%;
    border: 1px solid white;
}





@media (min-width: 930px) and (max-width: 1050px) {
    #img-inicio {
        display: none;
    }

    .descricao {
        justify-content: center;
        /* align-items: center; */
    }

    .grid {
        grid-template-columns: repeat(2, 0.1fr);
    }
}


@media (min-width: 550px) and (max-width: 929px) {
    #img-inicio {
        display: none;
    }

    .descricao {
        justify-content: center;
    }

    .grid {
        grid-template-columns: repeat(2, 0.1fr);
    }

    .skill-img {
        display: none;
    }

    .skill-text p {
        padding: 0;
    }
}

@media (min-width: 320px) and (max-width: 549px) {
    
    #img-inicio {
        display: none;
    }

    .descricao {
        min-width: fit-content;
        margin: 0 30px;
    }

    .grid {
        grid-template-columns: repeat(2, 0.1fr);
    }

    .skill-img {
        display: none;
    }

    .skill-text p {
        padding: 0;
    }
}

@media (max-width: 319px) {


    #img-inicio {
        display: none;
    }

    #img-inicio {
        display: none;
    }

    .grid {
        grid-template-columns: repeat(2, 0.1fr);
    }

    .skill-img {
        display: none;
    }

    .skill-text p {
        padding: 0;
    }
}