


@media (min-width: 550px) and (max-width: 929px) {

    .skill-img {
        display: none;
    }

    .skill-text p {
        padding: 0;
    }
}

@media (min-width: 320px) and (max-width: 549px) {

    .skill-img {
        display: none;
    }

    .skill-text p {
        padding: 0;
    }
}

@media (max-width: 319px) {

    .skill-img {
        display: none;
    }

    .skill-text p {
        padding: 0;
    }
}