
@media (min-width: 930px) and (max-width: 1050px) {

    .grid {
        grid-template-columns: repeat(2, 0.1fr);
    }
}


@media (min-width: 550px) and (max-width: 929px) {

    .grid {
        grid-template-columns: repeat(2, 0.1fr);
    }

    .skill-img {
        display: none;
    }

    .skill-text p {
        padding: 0;
    }
}

@media (min-width: 320px) and (max-width: 549px) {

    .grid {
        grid-template-columns: repeat(2, 0.1fr);
    }

    .skill-img {
        display: none;
    }

    .skill-text p {
        padding: 0;
    }
}

@media (max-width: 319px) {

    .grid {
        grid-template-columns: repeat(2, 0.1fr);
    }

    .skill-img {
        display: none;
    }

    .skill-text p {
        padding: 0;
    }
}